<div class="bg-white">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Productos</h2>
      <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8" >
        <div class="group relative" *ngFor="let item of resuls">
          <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
            <img src="https://imgs.search.brave.com/50BrNtCpxvHqtIG7wgj3h4S9bD2f-ZxUsHEJDDdKTAc/rs:fit:1200:733:1/g:ce/aHR0cHM6Ly93d3cu/YWRmYWN0b3J5Lm14/L3dwLWNvbnRlbnQv/dXBsb2Fkcy9lY29t/LnBuZw">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <p class="mt-1 text-sm text-gray-500">{{item.nombre}}</p>
              <h3 class="text-sm text-gray-700">
                <a [routerLink]="['/detalle', item.id]" >
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{item.descripcion}}
                </a>
              </h3>
            </div>
            <p class="text-sm font-medium text-gray-900">${{item.precio | number}}</p>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  