<div class="bg-white">
  <div class="pt-6">
    <nav aria-label="Breadcrumb">
    
    </nav>
    <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
      <div class="aspect-w-3 aspect-h-4 hidden overflow-hidden rounded-lg lg:block">
        <img src="https://imgs.search.brave.com/QBo5tffJJAgstCQmv7zPj45kl7S9iX54VMOf2V4a-mY/rs:fit:996:560:1/g:ce/aHR0cHM6Ly93d3cu/ZWNlc3RhdGljb3Mu/Y29tL2ltYWdlc3Rh/dGljL2NsaXBwaW5n/Lzg2NS9jMzEvODY1/YzMxNTc4YTBkMGE0/ZWVmYjQ2ZDQ1MTc5/YTU4YzMvdmVudGFq/YXMteS10cnVjb3Mt/ZGUtbGEtY29tcHJh/LXBvci1pbnRlcm5l/dC5qcGc_bXRpbWU9/MTU2NjIyNzQ0Mg"
          alt="Two each of gray, white, and black shirts laying flat." class="h-full w-full object-cover object-center">
      </div>
      <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
        <div class="aspect-w-3 aspect-h-2 overflow-hidden rounded-lg">
          <img src="https://imgs.search.brave.com/rdOWTTZzK8_nK1XVtnFfgAz4CnPYG3Lg3mpYeuAar30/rs:fit:626:433:1/g:ce/aHR0cHM6Ly9pbWFn/ZS5mcmVlcGlrLmNv/bS92ZWN0b3ItZ3Jh/dGlzL2NvbXByYXMt/bGluZWEtbW92aWwt/Z2VudGUtY29tcHJh/LXZlc3RpZG9zLWNh/bWlzYXMtcGFudGFs/b25lcy10aWVuZGFz/LWxpbmVhLWNvbXBy/YWRvcmVzLXF1ZS1j/b21wcmFuLXZlbnRh/LWludGVybmV0LWls/dXN0cmFjaW9uLXBs/YW5hLXRpZW5kYS1y/b3BhLW9ubGluZS1k/ZXNjdWVudG8tY29u/Y2VwdG8tdmVudGEt/dG90YWxfMjI5NTQ4/LTYwLmpwZw"
            alt="Model wearing plain black basic tee." class="h-full w-full object-cover object-center">
        </div>
        <div class="aspect-w-3 aspect-h-2 overflow-hidden rounded-lg">
          <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-02.jpg"
            alt="Model wearing plain gray basic tee." class="h-full w-full object-cover object-center">
        </div>
      </div>
      <div class="aspect-w-4 aspect-h-5 sm:overflow-hidden sm:rounded-lg lg:aspect-w-3 lg:aspect-h-4">
        <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-featured-product-shot.jpg"
          alt="Model wearing plain white basic tee." class="h-full w-full object-cover object-center">
      </div>
    </div>
    <div
      class="mx-auto max-w-2xl px-4 pt-10 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pt-16 lg:pb-24">
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{ detalle.nombre }}</h1>
      </div>
      <div class="py-10 lg:col-span-2  lg:col-start-1 lg:border-r space-x-5 lg:border-gray-200 lg:pt-6 lg:pb-16 lg:pr-8">
        <div>
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6">
            <p class="text-base text-gray-900">{{detalle.descripcion}}</p>
          </div>
        </div>
        <div class="mt-10">
          <h2 class="font-medium text-gray-900">Precio: $/{{detalle.precio | number}}</h2>
        </div>
          <button *ngIf="validar" (click)="EliminarProducto()" class="btn btn-danger mt-5">Eliminar Producto</button>
          <button *ngIf="!validar" (click)="enviarProductoCarrito()" class="btn btn-warning mt-5">Añadir al Carrito</button>
      </div>
    </div>
  </div>
</div>